body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  background-image: url(https://snap-photos.s3.amazonaws.com/img-thumbs/960w/DB76C7C65B.jpg);
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;

}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar {
  height:32px;
  background-color: #6190C1;
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  text-shadow: 4px 4px 4px #00000;
}
.title{
  background-color: #6190C1;
}
.dancer{
  border:30px solid red;
  border-radius:100px 50px;
  position:absolute;
}
.worm-dancer {
  border:60px solid green;
  border-radius:10px;
  position: absolute;
}

.break-dancer{
  border:75px solid orange;
  border-radius:25px;
  position: relative;
}

.makeGif {
  width: 250;
  height: 250;

/*  border:75px;
  border-radius:25px;*/
}

.jungleMode {
  transition-timing-function: linear;
}

h1 {
  font-size: 50px;
  margin-top: 200px;
  font-family: Helvetica;
  color: white;
}


