body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  background-image: url(http://cdn0.stocksy.com/a/1SR000/z0/105525.jpg);
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;

}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.worm-dancer {
  border:5px solid green;
  border-radius:10px;
  position: absolute;
  
}
.break-dancer{
  border:50px solid orange;
  border-radius:25px;
  position: absolute;
}

.jungleMode {
  animation-duration: 3s;
  animation-name: slidein;
}

h1 {
  font-size: 50px;
  margin-top: 200px;
  font-family: Helvetica;
  color: white;
  animation-duration: 3s;
  animation-name: slidein;
}


.slidein {
  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -moz-animation-name: slidein;
  -webkit-animation-name: slidein;
  animation-name: slidein;
  -moz-animation-iteration-count: 3;
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
  -moz-animation-direction: alternate;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
    
@-moz-keyframes slidein {
  from {
    margin-left:100%;
    width:300%
  }
      
  to {
    margin-left:0%;
    width:100%;
  }
}

@-webkit-keyframes slidein {
  from {
    margin-left:100%;
    width:300%
  }
  
  to {
   margin-left:0%;
   width:100%;
 }
}

@keyframes slidein {
  from {
    margin-left:100%;
    width:300%
  }
  
  to {
   margin-left:0%;
   width:100%;
 }
}
